    <h1>
      <%= @the_board.name %>
    </h1>

    <hr>

      <h2>Add a new post</h2>

      <form action="">
      <div>
        <label>Title</label>
        <input></input>
      </div>

      <div>
        <label>Body</label>
        <textarea id="" name="" rows="3"> </textarea>
      </div>

      <div>
      <label>Expires on</label>
      <input type="date" id="" name="">
      </div>

      <div>
      <a href="/boards/<%=@the_board.id%>">
      </div>

      </form>
    
    <hr>

    <h2>Active posts</h2>

    <table>
    <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
    </tr>

  <%=Post.all.where({}).order({:created})each do |post|%>
    <tr>
    <td><%=post.title%></td>
    <td><%=post.body%></td>
    <td><%=post.created_at%></td>
    <td><%=post.expires_on%></td>
    </tr>
  
    </table>
